<form [formGroup]="formGroup" name="formGroup" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Select Product</mat-label>
        <mat-select required formControlName="product" name="product">
            <mat-option *ngFor="let product of products" [value]="product.id">
                {{product.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input required matInput formControlName="quantity" name="quantity" />

        <mat-error *ngIf="!formGroup.controls.quantity.valid">
            <strong>Please enter a valid quantity</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onClick()" [disabled]="formGroup.invalid">Calculate</button>
    <div class="price-card">
        <mat-label>Price :</mat-label>
        <mat-card *ngIf='priceItem!=null'>{{priceItem.price}}</mat-card>
    </div>

</form>